<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		Admin Panel
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			Користувач
		</div>
	</header>
	<div class="sidebar">
	   <div class="jlinc">
	    <a href="discipline" class="buton" >Список дисциплін</a>
	   </div>
		<div class="jlinc">
	    <a href="students" class="buton">Список студентів</a>
  	</div>
    <div class="jlinc">
      <a href="teachers" class="buton">Список викладачів</a>
    </div>
    <div class="jlinc">
      <a href="users" class="buton">Список користувачів</a>
    </div>
  </div>

</body>
</html>
