<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Перелік дисциплін</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		Перелік дисциплін
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			<%=user.name%> <%=user.surname%>
		</div>
	</header>


	<div class="accordion">
		<section id="one">
			<h2><a href="#one">Методика навчання інформатики та математики</a></h2>
			<div>
				<div class="linc">
					<a href="metodika-jornal"> Журнал оцінок </a>
				</div>
				<div class="linc">
					<a href="metodika-visit"> Журнал відвідування </a>
				</div>
			</div>
		</section>
		<section id="two">
			<h2><a href="#two">Програмне забезпечення навчального призначення</a></h2>
			<div>
				<div class="linc">
					<a href="pz-jornal"> Журнал оцінок </a>
				</div>
				<div class="linc">
					<a href="pz-visit"> Журнал відвідування </a>
				</div>
			</div>
		</section>
		<section id="three">
			<h2><a href="#three">Технологія розробки програмного забезпечення</a></h2>
			<div>
				<div class="linc">
					<a href="trpz-jornal"> Журнал оцінок </a>
				</div>
				<div class="linc">
					<a href="trpz-visit"> Журнал відвідування </a>
				</div>
			</div>
		</section>

	</div>
</body>
</html>
