<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал оцінок</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<%=discipline.name%>. Журнал оцінок.
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			<%=user.name%>  <%=user.surname%>
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc">
	     <a href="../index" class="buton">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="metodika-visit" class="buton">Журнал відвідування</a>
  		</div>
  </div>
  <div class="table">
    <table>
    <tr>
      <th>Додати</th>
      <th>Monday</th>
      <th>Monday</th>
      <th>Monday</th>
      <th>Monday</th>
    </tr>
     <tr>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
     </tr>
     </table>
  </div>
</body>
</html>
