<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал оцінок</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		Журнал оцінок з Методика навчання інформатики та математики
		<div class="butt">
 	 		<a href="#">Вихід</a> 
 	  
		</div>
		<div class="butt">
 			Користувач
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc"> 
	     <a href="index.html" class="button">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="metodika-visit.html" class="button">Журнал відвідування</a>
  		</div>
  </div>
	
</body>
</html>