<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал відвідування</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		Журнал відвідування з Програмне забезпечення навчального призначення
		<div class="butt">
 	 		<a href="#">Вихід</a>

		</div>
		<div class="butt">
 			Користувач
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc">
	     <a href="index.html" class="buton">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="pz-jornal.html" class="buton">Журнал оцінок</a>
  		</div>
  </div>

</body>
</html>
