<!DOCTYPE html>
<html>
<head>
    <title>Електронний журнал</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css"  type="text/css" />
    </head>
    <body>
    <!-- vladmaxi top bar -->
    <!--/ vladmaxi top bar -->

    <script>
</script>

<div class="content">
<div class="form-wrapper">
  <div class="linker">
    <span class="ring"></span>
    <span class="ring"></span>
    <span class="ring"></span>
    <span class="ring"></span>
    <span class="ring"></span>
  </div>
  <form class="login-form" action="" method="post">
    <input type="text" placeholder="Логін" name="username" />
    <input type="password" placeholder="Пароль" name="password" />
    <input type="email" placeholder="E-mail" name="email" pattern="[^ @]*@[^ @]*"/>
    <button type="submit" id='submit'>Увійти</button>
  </form>
</div>
</div>

    </body>

    </html>
