<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал оцінок</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		Журнал оцінок з Технологія розробки програмного забезпечення
		<div class="butt">
 	 		<a href="#">Вихід</a>

		</div>
		<div class="butt">
 			Користувач
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc">
	     <a href="index.html" class="buton">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="trpz-visit.html" class="buton">Журнал відвідування</a>
  		</div>
  </div>

</body>
</html>
